<div class="container-fluid">
  <h3 class="text-center">{{'title.user_manager' | translate}}</h3>

  <div *ngIf="isSuccess">
    <ngb-alert [type]="typeAlert" (close)="closedAlert=true" *ngIf="!closedAlert">
      {{ message }}
    </ngb-alert>
  </div>

  <div class="row my-4 px-3">
    <button class="btn btn-secondary" (click)="openAddUserModal(templateAddUser)"><i class="fa fa-user-plus"
        aria-hidden="true"></i></button>
  </div>

  <div class="row my-4">
    <div class="col-sm-3">
      <input class="form-control form-control-sm" type="text" placeholder="{{'label.search' | translate}}"
        [(ngModel)]="stringQuery" (keyup)="searchUsers()" />
    </div>
  </div>

  <div class="row my-4 px-0">
    <div class="col-sm-12">
      <table class="table">
        <thead>
          <tr>
            <th>{{'content.ipn' | translate}}</th>
            <th class="col-sm-3">{{'content.role' | translate}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.ipn}}</td>
            <td>
              <ng-multiselect-dropdown-angular7 [placeholder]="'Veuillez choisir un rôle'" [data]="dropdownList"
                [(ngModel)]="user.dropdownListDTO.dropdownDataDTOS" [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event, user.id, user.dropdownListDTO.dropdownDataDTOS)"
                (onDeSelect)="onItemSelect($event, user.id, user.dropdownListDTO.dropdownDataDTOS)"
                (onSelectAll)="onSelectAll($event, user.id, user.dropdownListDTO.dropdownDataDTOS)">
              </ng-multiselect-dropdown-angular7>
            </td>
            <td>
              <button (click)="openDeleteUserModal(user.id, user.ipn, templateDeleteUser)" class="btn btn-danger">
                <i class="fa fa-trash-o fa-fw" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- table pagination-->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center" *ngIf="totalPages > 1">
      <li class="page-item" *ngIf="!first">
        <a class="page-link" aria-label="Previous" (click)="previousPage()">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of totalPagesArray">
        <a class="page-link" (click)="goToPage(page)">
          {{page}}
        </a>
      </li>
      <li class="page-item" *ngIf="!last">
        <a class="page-link" aria-label="Next" (click)="nextPage()">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

  <ng-template #templateAddUser>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{'title.add_user' | translate}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!--<form>-->
      <div class="form-group">
        <label for="ipn-technique"> {{'content.ipn' | translate}}</label>
        <input class="form-control" type="text" placeholder="{{'content.ipn' | translate}}" id="ipn-technique"
          [(ngModel)]="ipn" name="ipn" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="ipn-technique"> {{'content.role' | translate}}</label>
        <ng-multiselect-dropdown-angular7 [placeholder]="'Choose a role'" [data]="dropdownList"
          [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelectAdd($event)"
          (onDeSelect)="onItemSelectAdd($event)" (onSelectAll)="onSelectAllAdd($event)">
        </ng-multiselect-dropdown-angular7>
      </div>
      <div class="text-center">
        <span class="col-sm-4">
          <button (click)="addUser()" class="btn btn-secondary"><i class="fa fa-floppy-o"
              aria-hidden="true"></i></button>
        </span>
        <span class="col-sm-4">
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()"><i class="fa fa-ban"
              aria-hidden="true"></i></button>
        </span>
      </div>
      <!--</form>-->
    </div>
  </ng-template>

  <ng-template #templateDeleteUser>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{'form.confirm_delete_user' | translate}} {{ipn}} ?</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="text-center">
        <span class="col-sm-4">
          <button (click)="deleteUser()" class="btn btn-secondary">{{'form.yes' | translate}}</button>
        </span>
        <span class="col-sm-4">
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()">{{'form.no' | translate}}</button>
        </span>
      </div>
    </div>
  </ng-template>
</div>