<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 px-0 my-4">
            <div class="row my-3 mx-5">
                <h3>{{'title.monitoring' | translate}}</h3>
            </div>
            <nav class="navbar navbar-light my-3">
                <ul class="navbar-nav" role="tablist">
                    <li class="nav-item">
                        <button class="btn btn-default bg-dark col-lg-12"><span style="color: white;">Table input</span></button>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- right content-->
        <div class="col-9 px-3 ">
            <div class="row m-3">
                <div *ngIf="isOK">
                    <ngb-alert [type]="typeAlert" (close)="closedAlert=true" *ngIf="!closedAlert">
                        {{ notification }}
                    </ngb-alert>
                </div>
            </div>

            <div class="tab-content my-3" id="myTabContent">
                <div class="tab-pane active" id="causeAle" role="tabpanel">
                    <div class="row my-3">
                        <div class="col">
                            <div class="text-left h5">{{'content.title' | translate}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <button class="btn btn-primary">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                {{'content.download' | translate}}</button>
                        </div>

                        <div class="col-sm-6">
                            <form class="form">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <input type="file" (change)="selectFile($event)">
                                        </div>
                                    </div>
                                    <div class="col-sm-4 text-right">
                                        <button class="btn btn-warning">
                                            <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;
                                            {{'content.upload' | translate}}</button>
                                    </div>
                                </div>
                            </form>
                            <div class="d-flex align-items-center" *ngIf="isLoading">
                                <strong>Loading...</strong>
                                <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                            </div>

                        </div>
                    </div>

                    <hr>

                    <div class="row my-3">
                        <div class="col-8">
                            <div class="text-left h5">{{'title.monitoring' | translate}}</div>
                        </div>

                        <div class="col-4">
                            <input class="form-control form-control-sm" type="text"
                                placeholder="{{'label.search' | translate}}" [(ngModel)]="stringQuery"
                                (keyup)="searchHistorys()" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <table class="table table-sm" id="dslpr-table">
                                <thead>
                                    <tr>
                                        <th>Base</th>
                                        <th>Table</th>
                                        <th>Mini</th>
                                        <th>Maxi</th>
                                        <th>FlagSqlQuery</th>
                                        <th>Commentaire</th>
                                        <th>Cron</th>
                                        <th>Equipe</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let monitoring of monitorings">
                                        <td>{{monitoring.base}}</td>
                                        <td>{{monitoring.tableName}}</td>
                                        <td>{{monitoring.mini}}</td>
                                        <td>{{monitoring.maxi}}</td>
                                        <td>{{monitoring.flagSqlQuery}}</td>
                                        <td>{{monitoring.commentaire}}</td>
                                        <td>{{monitoring.cron}}</td>
                                        <td>{{monitoring.equipe}}</td>
                                        <td>
                                            <button class="btn btn-secondary">
                                                <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger">
                                                <i class="fa fa-trash-o fa-fw" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <!-- table pagination-->
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center" *ngIf="totalPages > 1">
                                    <li class="page-item" *ngIf="!first">
                                        <a class="page-link" aria-label="Previous" (click)="previousPage()">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item" *ngFor="let page of totalPagesArray">
                                        <a class="page-link" (click)="goToPage(page)">
                                            {{page}}
                                        </a>
                                    </li>
                                    <li class="page-item" *ngIf="!last">
                                        <a class="page-link" aria-label="Next" (click)="nextPage()">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end container-fluid>-->
</div>