<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center" id="renault-logo">MARGUERITE</h5>
          <form class="form-signin">
            <div class="form-label-group">
              <input type="text" id="ipnTechnique" class="form-control" placeholder="{{'content.password' | translate}}"
                name="ipn" [(ngModel)]="ipn" required autofocus>
              <label for="ipnTechnique">{{'content.ipn' | translate}}</label>
            </div>

            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control"
                placeholder="{{'content.password' | translate}}" name="password" [(ngModel)]="password" required>
              <label for="inputPassword">{{'content.password' | translate}}</label>
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="checkLogin()" id="btn-color">
              {{'content.signin' | translate}}</button>
          </form>
          <br>
          <br>
          <div class="alert alert-danger alert-dismissible text-center" role="alert" *ngIf="invalidLogin"
            data-auto-dismiss="5">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
            {{notification}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>