<div class="container-fluid">
  <div class="row">
    <!-- left menu-->
    <div class="col-sm-2 px-0 my-4">
      <div class="row my-3 mx-5">
        <h3>DSLPR</h3>
      </div>
      <nav class="navbar navbar-light my-3">
        <ul class="navbar-nav" role="tablist">
          <li class="nav-item">
            <button class="{{classBaseComptesFrance}}" (click)="setType('base_comptes_france')"><span
                style="color: white;">Base_Comptes_France</span></button>
          </li>
          <li class="nav-item">
            <button class="{{classCauseAle}}" (click)="setType('cause_ale')"><span
                style="color: white;">Cause_ALE_deviation</span></button>
          </li>
          <li class="nav-item">
            <button class="{{classCompteRattachement}}" (click)="setType('compte_rattachement')"><span
                style="color: white;">
                Compte_rattachement</span></button>
          </li>
          <li class="nav-item">
            <button class="{{classRouteRefCost}}" (click)="setType('route_ref_cost')"><span style="color: white;">
                RouteRef_cost</span></button>
          </li>
          <li class="nav-item">
            <button class="{{classCorespondances}}" (click)="setType('correspondances')"><span
                style="color: white;">Table correspondances</span></button>
          </li>
          <li class="nav-item">
            <button class="{{classTarifTroncon}}" (click)="setType('tarif_troncon')"><span style="color: white;">
                Tarif_Troncon</span></button>
          </li>
          <li class="nav-item">
            <button class="{{classTarifOP}}" (click)="setType('tarif_op')"><span style="color: white;">
                Tarif_oP</span></button>
          </li>
          <li class="nav-item">
            <button class="{{classCorrespIsoCodePays}}" (click)="setType('corresp_iso_codepays')"><span
                style="color: white;">Tb_Co_iso_codepays</span></button>
          </li>
          <li class="nav-item">
            <button class="{{classFactorCaisse}}" (click)="setType('factor_caisse')"><span style="color: white;">
                load factor caisse</span></button>
          </li>
          <li class="nav-item">
            <button class="{{classFactorCommerce}}" (click)="setType('factor_commerce')"><span style="color: white;">
                load factor commerce</span></button>
          </li>
          <li class="nav-item">
            <button class="{{classModeleEuroKm}}" (click)="setType('modele_euro_km')"><span style="color: white;">
                modele_BPEP</span></button>
          </li>
          <li class="nav-item">
            <button class="{{classPrixMoyen}}" (click)="setType('prix_moyen')"><span style="color: white;"> prix
                moyen</span></button>
          </li>
        </ul>
      </nav>
    </div>

    <!-- right content-->
    <div class="col-9 px-3 ">
      <div class="row m-3">
        <div *ngIf="isOK">
          <ngb-alert [type]="typeAlert" (close)="closedAlert=true" *ngIf="!closedAlert">
            {{ notification }}
          </ngb-alert>
        </div>
      </div>
      <div class="tab-content my-3" id="myTabContent">
        <div class="tab-pane active" id="causeAle" role="tabpanel">
          <div class="row my-3">
            <div class="col">
              <div class="text-left h5">{{'content.title' | translate}} {{title}}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <button class="btn btn-primary" (click)="onDownload()">
                <i class="fa fa-download" aria-hidden="true"></i>
                {{'content.download' | translate}}</button>
            </div>

            <div class="col-sm-9">
              <form class="form">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="form-group">
                      <input type="file" #userFile (change)="selectFile($event)">
                    </div>
                  </div>
                  <div class="col-sm-4 text-right">
                    <button class="btn btn-warning" (click)="onUpload()" [disabled]="!selectedFiles">
                      <i class="fa fa-upload" aria-hidden="true"></i>&nbsp; {{'content.upload' | translate}}</button>
                  </div>
                </div>
              </form>
              <div class="d-flex align-items-center" *ngIf="isLoading">
                <strong>Loading...</strong>
                <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
              </div>

            </div>
          </div>

          <hr>

          <div class="row my-3">
            <div class="col-8">
              <div class="text-left h5">{{'content.history' | translate}}</div>
            </div>

            <div class="col-4">
              <input class="form-control form-control-sm" type="text" placeholder="{{'label.search' | translate}}"
                [(ngModel)]="stringQuery" (keyup)="searchHistorys()" />
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <table class="table table-sm" id="dslpr-table">
                <thead>
                  <tr>
                    <th>{{'content.ipn' | translate}}</th>
                    <th>{{'content.action' | translate}}</th>
                    <th>{{'content.status' | translate}}</th>
                    <th>{{'content.date' | translate}}</th>
                    <th>{{'content.nb_ligne' | translate}}</th>
                    <th>{{'content.report' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let history of historys">
                    <td>{{history.ipn}}</td>
                    <td>{{history.action}}</td>
                    <td>{{history.state}}</td>
                    <td>{{history.date | date: 'dd'}}/{{history.date | date: 'MM'}}/{{history.date | date: 'yyyy'}}
                      {{history.date | date: 'shortTime' : '' : 'fr-FR'}}</td>
                    <div *ngIf="history.sizeAddLines!==0; then thenBlock else elseBlock "></div>
                    <ng-template #thenBlock>
                      <td>{{history.sizeAddLines}}</td>
                    </ng-template>
                    <ng-template #elseBlock>
                      <td>&nbsp;</td>
                    </ng-template>
                    <td>
                      <button class="btn btn-secondary btn-sm" *ngIf="history.hasError"
                        (click)="onDownloadErrorReport(history.errorReport)"><i class="fa fa-download fa-sm"
                          aria-hidden="true"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <!-- table pagination-->
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center" *ngIf="totalPages > 1">
                  <li class="page-item" *ngIf="!first">
                    <a class="page-link" aria-label="Previous" (click)="previousPage()">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item" *ngFor="let page of totalPagesArray">
                    <a class="page-link" (click)="goToPage(page)">
                      {{page}}
                    </a>
                  </li>
                  <li class="page-item" *ngIf="!last">
                    <a class="page-link" aria-label="Next" (click)="nextPage()">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!--end row>-->
  </div>
  <!--end container-fluid>-->
</div>